@font-face {
  font-family: Sen-Regular;
  src: url(./Sen-Regular.ttf);
}

* {
  font-family: Sen-Regular;
  color: #E5E9F0;
}

body{
  background-color: #E5E9F0;
}

#createosc{
  margin-right: 10px;
  margin-left: 10px;
  width: 80%;
  font-size: 150%;
  font-weight: bold;
  border-width: 5px;
}

#oscs{
  width: 75%;
}

.Osc{
  border-style: solid;
  text-align: center;
  border-color: #2E3440;
  border-width: 5px;
  display: inline-block;
  width: 30%;
}

.oscOff {
  background-color: #3B4251;
}

.oscOn {
  background-color: #5B6271;
}

h4 {
  font-weight: bold;
  margin-left: 10px;
}

button, a, input[type=file] {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  padding: 1% 1%;
  border-radius: 10px;
  border-width: 2px;
  background-color: #BD626B;
  border-color: #2E3440;
  border-style: solid;
  text-decoration: none;
  color: #E5E9F0;
  cursor: default;
}

button:hover, a:hover, input[type=file]:hover {
  background-color: #9D424B;
}

button:focus, a:focus, input[type=file]:focus {
  outline: none;
  border-color: #0E1420;
}

.slidertext {
  margin-left: 5%;
  display: inline-block;
}

input {
  margin-right: 10px;
  margin-left: 10px;
  width: 10%;
  color: black;
}

input[type=range] {
  margin-right: 10px;
  margin-left: 10px;
  width: 25%;
  height: 5%;
  display: inline-block;
}

select{
  margin-right: 10px;
  margin-left: 10px;
  width: 25%;
  color: black;
}

option{
  color: black;
}

#fixedelements{
	position: fixed;
	right: 5%;
  width: 20%;
  text-align: center;
  border-style: solid;
  border-color: #2E3440;
  border-width: 5px;
  display: inline-block;
  background-color: #3B4251;
}

#mainVolumeSlider {
  width: 50%;
  display: inline-block;
}

.fixedText {
  width: 30%;
  display: inline-block;
}

canvas {
  border-radius: 10px;
  border: solid 5px #2E3440;
  width: 85%;
}

.filterSlider {
  width: 50% !important;
  display: inline-block;
}

#presetUploader, #presetDownloader, #presetPrep {
  width: 70% !important;
}

#presetDownloader {
  visibility: hidden;
}

.ssButton {
  width: 25%;
}
