body{
}

#createosc{
  margin-right: 10px;
  margin-left: 10px;
  width: 10%;
}

#oscs{
  width: 50%;
}

.Osc{
  border-style: solid;
}

h4{
  font-style: italic;
  font-weight: bold;
}

button{
  margin-right: 10px;
  margin-left: 10px;
  width: 10%;
}

#slidertext {
  margin: 2px;
}

input{
  margin-right: 10px;
  margin-left: 10px;
  width: 10%;
}

input[type=range]{
  margin-right: 10px;
  margin-left: 10px;
  width: 33%;
}

select{
  margin-right: 10px;
  margin-left: 10px;
  width: 25%;
}

#fixedelements{
	position: fixed;
	right: 10%;
}
