body{
}

#createosc{
  margin-right: 10px;
  margin-left: 10px;
  width: 10%;
}

.Osc{
  border-style: solid;
}

h4{
  font-style: italic;
  font-weight: bold;
}

button{
  margin-right: 10px;
  margin-left: 10px;
  width: 10%;
}

input{
  margin-right: 10px;
  margin-left: 10px;
  width: 10%;
}

select{
  margin-right: 10px;
  margin-left: 10px;
  width: 25%;
}

canvas{
	position: fixed;
	right: 10%;
}
